<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://mousaa01.github.io/tvbudget" version="1.0.4" viewmodes="maximized">
    <tizen:application id="TVbudget01.TVbudget" package="TVbudget01" required_version="4.0"/>
    <content src="https://tv-budget.vercel.app/?v=20260511203609"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>Adam's Apple</name>
    <tizen:profile name="tv"/>
    <access origin="*" subdomains="true"/>
    <tizen:allow-navigation>* https://tv-budget.vercel.app https://accounts.google.com https://www.googleapis.com https://www.youtube.com https://www.youtube-nocookie.com</tizen:allow-navigation>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
